/* ---------- Color Module Styles ----------- */

/* %var_name% relates to color scheme keys, for live preview. */
/* @see color.inc */

/* === COMMON === */

@media not print {
  html, body {
    background-color: #1d1b16; /* %global_background_color% */
    color: #fefefe; /* %global_text_color% */
  }
}
fieldset {
  border-color: #fefefe; /* %global_text_color% */
}

/* === END COMMON === */

/* === SIDEBAR === */

/* Separate menu header from actual sidebar content */
@media not print {
  div#navbar,
  div#menu-header {
    border-color: #555544; /* %content_text_color% */
    background-color: #ccccbb; /* %content_background_color% */
  }
}

/* Uniform spacing and borders for all block-like elements in sidebar */
div#sidebar div.region-sidebar > div.block:not(:last-child),
div#sidebar > div:not(:last-child).region-sidebar,
div#sidebar div#main-menu,
div#menu-header {
  border-bottom-color: #999988; /* %content_link_visited% */
}
/* Stronger borders for header and main menus */
div#sidebar div:not(:last-child).region-sidebar,
div#sidebar div#main-menu,
div#menu-header {
  border-color: #555544; /* %content_text_color% */
}

div#menu {
  background-color: #ccccbb; /* %content_background_color% */
  color: #555544; /* %content_text_color% */
}

div#navbar a,
div#navbar a:visited,
div#logo-title,
div#sidebar a:link,
div#sidebar a:focus,
div#sidebar a:hover {
  color: #555544; /* %content_text_color% */
}
div#sidebar a:visited,
div#sidebar a:active {
  color: #999988; /* %content_link_visited% */
}
/* General form elements */
select,
input[type=text],
input[type=password],
textarea,
input[type=submit],
.resizable-textarea .grippie {
  background-color: #ddddcc; /* %content_input_background_color% */
}
/* General form elements */
select,
input[type=text],
input[type=password],
textarea,
input[type=submit] {
  border-color: #333322; /* %content_input_border_color% */
  color: #555544; /* %content_text_color% */
}
/* Emphasize active form elements. */
select:focus,
input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
  border-color: #fede00; /* %form_focus_border% */
  background-color: #eeeedd; /* %form_focus_background% */
}
div#sidebar fieldset {
  border-color: #333322; /* %content_input_border_color% */
}

/* === END SIDEBAR == */

/* === CONTENT === */

/* INNER CONTAINER */

/* Film strips */

/* Slides in general */
@media not print {
  div.slide-container:not(.node-unpublished),
  div.slide-container:not(.node-unpublished) div.teaser-sidestrip {
    background-color: #000000; /* %film_strip_background% */
  }
  div.teaser-sidestrip,
  div.slide-container {
    color: #7eb937; /* %film_strip_text% */
  }
  div#content div.teaser-sidestrip-inner a:visited {
    color: #4e7322; /* %film_strip_link_visited% */
  }
  div#content div.teaser-sidestrip-inner a:link,
  div#content div.teaser-sidestrip-inner a:active,
  div#content div.teaser-sidestrip-inner a:focus,
  div#content div.teaser-sidestrip-inner a:hover,
  div#content div.teaser-sidestrip-inner {
    color: #7eb937; /* %film_strip_text% */
  }
  /* Single post/node display. */
  body.bilderblock-post-image-border .bilderblock-image-container,
  body.bilderblock-post-image-border div.exposed-image {
    background-color: #ffffff; /* %post_image_border% */
  }
  /* STANDARD CONTENT (INSIDE BLOCKS) */
  div#content .item-list ul.pager,
  div#content div.term-listing-heading,
  div#content > div:not(.bilderblock-has-teasers) .block:not(.bilderblock-has-teasers) {
    color: #555544; /* %content_text_color% */
    background-color: #ccccbb; /* %content_background_color% */
  }
}

/* Adapt tab colors to general schema. */
div.tabs li a:link,
div.tabs li a:hover,
div.tabs li a:focus,
div.tabs li a:active,
div.tabs li a:visited {
  color: #999988; /* %content_link_visited% */
  background-color: #ddddcc; /* %content_input_background_color% */
}
div.tabs li:focus a:link,
div.tabs li:focus a:hover,
div.tabs li:focus a:active,
div.tabs li:focus a:visited,
div.tabs li:hover a:link,
div.tabs li:hover a:hover,
div.tabs li:hover a:active,
div.tabs li:hover a:visited,
div.tabs li.active a:link,
div.tabs li.active a:hover,
div.tabs li.active a:active,
div.tabs li.active a:visited {
  color: #555544; /* %content_text_color% */
  background-color: #ccccbb; /* %content_background_color% */
}
div.tabs ul.primary li a,
div.tabs ul.primary li a:hover,
div.tabs ul.primary li a:focus,
div.tabs ul.primary li.active a,
div.tabs ul.primary {
  border-color: #ccccbb; /* %content_background_color% */
}
div#content .block a:link,
div#content .block a:active,
div#content .block a:focus,
div#content .block a:visited,
div#content .block a:hover {
  color: #555544; /* %content_text_color% */
}
@media not print {
  div#action-links-wrapper a:visited,
  div#content .block a:visited {
    color: #999988; /* %content_link_visited% */
  }
}
div.content-post-single input[type=text],
div.content-post-single input[type=submit],
div.content-post-single textarea {
  background-color: #ddddcc; /* %content_input_background_color% */
  border-color: #333322; /* %content_input_border_color% */
  color: #555544; /* %content_text_color% */
}
/* Any comment in a padded, highlighted, sharp-cornered box. */
div#comments div.comment {
  background-color: #ddddcc; /* %content_input_background_color% */
  border-color: #555544; /* %content_text_color% */
}
/* General button styles for node/comment links. */
div#content ul.links.inline li:not(.comment_forbidden) a,
div#content div#comments ul.links.inline li:not(.comment_forbidden) a,
div#content div#comments ul.links.inline li:not(.comment_forbidden) {
  color: #555544; /* %content_text_color% */
  background-color: #ccccbb; /* %form_focus_background% */
}
div#content div#comments ul.links.inline li:not(.comment_forbidden) {
  border-color: #555544; /* %content_text_color% */
}
html.touchevents div#content ul.links.inline li:not(.comment_forbidden) a:link,
html.touchevents div#content ul.links.inline li:not(.comment_forbidden) a:visited,
html.touchevents div#content ul.links.inline li:not(.comment_forbidden),
html:not(.touchevents) div#content ul.links.inline li:not(.comment_forbidden):focus a:link,
html:not(.touchevents) div#content ul.links.inline li:not(.comment_forbidden):focus a:visited,
html:not(.touchevents) div#content ul.links.inline li:not(.comment_forbidden):focus,
html:not(.touchevents) div#content ul.links.inline li:not(.comment_forbidden):hover a:link,
html:not(.touchevents) div#content ul.links.inline li:not(.comment_forbidden):hover a:visited,
html:not(.touchevents) div#content ul.links.inline li:not(.comment_forbidden):hover {
  color: #999988; /* %content_link_visited% */
  background-color: #eeeedd; /* %form_focus_background% */
}
html.touchevents div#content ul.links.inline li:not(.comment_forbidden),
html:not(.touchevents) div#content ul.links.inline li:not(.comment_forbidden):focus,
html:not(.touchevents) div#content ul.links.inline li:not(.comment_forbidden):hover {
  border-color: #999988; /* %content_link_visited% */
}
html.touchevents div#content div#comments ul.links.inline li:not(.comment_forbidden) a:link,
html.touchevents div#content div#comments ul.links.inline li:not(.comment_forbidden) a:visited,
html.touchevents div#content div#comments ul.links.inline li:not(.comment_forbidden),
html:not(.touchevents) div#content div#comments ul.links.inline li:not(.comment_forbidden):focus a:link,
html:not(.touchevents) div#content div#comments ul.links.inline li:not(.comment_forbidden):focus a:visited,
html:not(.touchevents) div#content div#comments ul.links.inline li:not(.comment_forbidden):focus,
html:not(.touchevents) div#content div#comments ul.links.inline li:not(.comment_forbidden):hover a:link,
html:not(.touchevents) div#content div#comments ul.links.inline li:not(.comment_forbidden):hover a:visited,
html:not(.touchevents) div#content div#comments ul.links.inline li:not(.comment_forbidden):hover {
  color: #999988; /* %content_link_visited% */
}
html.touchevents div#content div#comments ul.links.inline li:not(.comment_forbidden),
html:not(.touchevents) div#content div#comments ul.links.inline li:not(.comment_forbidden):focus,
html:not(.touchevents) div#content div#comments ul.links.inline li:not(.comment_forbidden):hover {
  border-color: #999988; /* %content_link_visited% */
}
div#content fieldset {
  border-color: #333322; /* %content_input_border_color% */
}
@media not print {
  div#sidebar .block fieldset a.fieldset-title:visited,
  div#content .block fieldset a.fieldset-title:visited {
    color: #555544; /* %content_text_color% */
  }
}

@media not print {
  div#action-links-wrapper,
  #title-wrapper {
    color: #555544; /* %content_text_color% */
    background-color: #ccccbb; /* %content_background_color% */
  }
  #title-wrapper a:link,
  #title-wrapper a:active,
  #title-wrapper a:focus,
  #title-wrapper a:hover {
    color: #555544; /* %content_text_color% */
  }
  #title-wrapper a:visited {
    color: #999988; /* %content_link_visited% */
  }
}

/* "Small" scope. */
@media screen and (max-width: 640px) {
  /* Turn tabs into ordinary menu block */
  div.tabs {
    background-color: #ccccbb; /* %content_background_color% */
    color: #555544; /* %content_text_color% */
  }
  /**
   * Uniform tab link color.
   */
  div.tabs li a:link,
  div.tabs li a:focus,
  div.tabs li a:hover,
  div.tabs li a:active,
  div.tabs li a:visited {
    color: #555544; /* %content_text_color% */
    background-color: transparent;
  }
  div#action-links-wrapper,
  #title-wrapper {
    color: #555544; /* %content_text_color% */
    background-color: #ccccbb; /* %content_background_color% */
  }
  #title-wrapper {
    background-color: #1d1b16; /* %global_background_color% */
  }
  #title-wrapper,
  #title-wrapper a:link,
  #title-wrapper a:active,
  #title-wrapper a:focus,
  #title-wrapper a:hover,
  #title-wrapper a:visited {
    color: #fefefe; /* %global_text_color% */
  }
}

.book-navigation div:not(:first-child).page-links {
  border-color: #555544; /* %content_text_color% */
}

body.bilderblock-menu-overlay div#navbar-toggle a {
  border-color: #555544; /* %content_text_color% */
}

/* Colors for expanded sidestrips (only in hover modes) */
div.slide-container:focus div.teaser-sidestrip-inner,
div.slide-container:hover div.teaser-sidestrip-inner {
  background-color: #000000; /* %film_strip_background% */
  border-color: #000000; /* %film_strip_background% */
}
