/**
 * @file
 * Dedicated Drupal styles.
 * Styles specially needed for Drupal reasons.
 */

/* Basic styles. */
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
/* Make tabs stick directly to the content section. */
div.tabs ul.primary {
  margin: 0 2px; /* side margins to respect rounded corners. */
}
/* Consistent "round" corners everywhere. */
div.tabs ul.primary li a {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
/* Remove outline from teaser slides, looks ugly with the hidden overflow. */
.slide-container.contextual-links-region-active {
  outline: none;
}
/* Basic content block behavior. */
div#content div.term-listing-heading,
div#content .region > div.block {
  max-width: 100%;
  width: auto;
}
@media not print {
  div#content .region > div.block:not(.bilderblock-has-teasers) {
    padding: 1em;
    overflow: auto;
  }
}
div#content .region > div.block:not(.bilderblock-has-teasers):not(:last-child) {
  margin-bottom: 1em;
}
/* Search form in search results might have no items below it. */
div#content .block .content > .search-form:last-child {
  margin: 0;
}
/* Default taxonomy term description has annoying margins. */
div.taxonomy-term-description {
  margin: 0;
}
/* Term field spacing in general. */
div.term-listing-heading .content > *:not(:last-child) {
  margin-bottom: 1em;
}
/* Style for Google maps container. */
div.geolocation-map {
  border-width: 1px;
  border-style: dotted;
}
/* Comma-separated terms. */
div.field-type-taxonomy-term-reference div.field-items div.field-item {
  display: inline;
}
div.field-type-taxonomy-term-reference div.field-items div.field-item:not(:last-child):after {
  content: ",\0020";
}
.views-exposed-form .views-exposed-widget .form-submit {
  margin: 0;
}
/* Fix views exposed filters suboptimalities. */
div#sidebar .views-exposed-widget {
  float: none;
}
/* Separate views headers, footers and content. */
div.view > .view-content:not(:first-child) {
  margin-top: 1em;
}
div.view > .view-content:not(:last-child) {
  margin-bottom: 1em;
}

/* Comment styles */
@media not print {
  div#comments div.comment {
    padding: .5em;
    border-width: 1px;
    border-style: dotted;
    border-radius: 2px;
  }
  /* Pre-space every thread except the first one. */
  div#comments > div.comment:not(:first-child) {
    margin-top: .5em;
  }
  /* Follow-up comments are visually "attached" to their parents/siblings.
     (Achieved by "collapsed" borders.) */
  div#comments div.indented div.comment {
    margin-top: -1px;
  }
  /* Comment meta text (as any meta text). */
  div.comment div.submitted,
  div.comment .links {
    font-size: 80%;
  }
  /* Expose actual comment a bit. */
  div.comment div.content {
    margin: 1em 0;
  }
  /* Indentation. */
  div#comments div.indented {
    margin-left: .5em;
  }
  /* Limit indent. */
  div#comments div.indented div.indented div.indented div.indented div.indented div.indented {
    margin-left: 0em;
  }
}
div#content div.link-wrapper:not(:last-child) {
  margin-bottom: 1em;
}
/* Content/node inline links. */
div#content ul.links.inline li:not(.comment_forbidden) {
  padding: .5em;
  border-style:dotted;
  border-width: 1px;
  font-size: 80%;
  display: inline-block;
  margin: 0 .2em .2em 0;
  border-radius: 2px;
}
/* Button style without underlining. */
div#content ul.links li:not(.comment_forbidden) a {
  text-decoration: none;
}
/* Comment inline links */
div#content div#comments ul.links.inline li {
  border-radius: 2px;
  border-style: dotted;
  border-width: 1;
  padding: .15em .3em;
}
div#post-informational > div:not(:first-child) {
  margin-top: .5em;
}
div#post-informational > div:not(:last-child) {
  margin-bottom: .5em;
}
/* Space sidebar blocks by one line. */
div#sidebar div.block:not(:last-child) {
  margin-bottom: 1.25em;
}
/* More beautiful message boxes, adapted to the general block design. */
div.messages {
  border-width: 0;
}
/* Adapt pager to general block styles. */
div#content .item-list ul.pager {
  margin: 0;
  padding: 1em;
  max-width: 100%;
  width: auto;
}
/* Fix weird pager behaviour */
div#sidebar .item-list ul.pager li {
  padding: 0;
  margin: 0;
}
/* Views needs special treatment (i. e. clearfix). */
.view.bilderblock-has-teasers > .view-content:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* Special views pager needs special treatment, too (i. e. spacing). */
.view.bilderblock-has-teasers > .item-list {
  margin-top: 1em;
  display: block;
  clear: both;
}
/* Simple views floating */
div.views-row.inline {
  display: inline;
  margin-right: .5em;
}

/* Make sure the fixed menu is invisible in overlays. */
#overlay-content > #page > #menu {
  display: none;
}

/* Basic table styles */
tr.odd {
  background-color: #e9e9e9;
}
tr.even {
  background-color: #ffffff;
}

/* Book related styles. */
/* 1. Generic for all book display modes. */
div#content .region div.block.block-bilderblock-book {
  overflow: hidden;
}
div#content div.block div.book-navigation ul.menu {
  border-style: none;
  margin: 0 0 0 1em;
  padding: 0;
  line-height: 1.3em;
}
div#content div.block .book-navigation ul:not(:last-child).menu {
  margin-bottom: 1em;
}
.book-navigation div.page-links {
  margin: 0 0 .5em 0;
  padding: 0;
  border-style: none;
}
.book-navigation div:not(:first-child).page-links {
  padding-top: 1em;
  /* @see colors.css */
  border-top: 1px dotted #555544;
}

/* Sometimes (e.g. exceptions), maintenance template is used with JS stack. */
body.maintenance-page div#site-slogan:before {
  display: none;
}

/* "Tablet" scope. */
@media screen and (min-width: 481px) and (max-width: 960px) {
  /**
   * Reduce tabs spacing.
   */
  div.tabs,
  div.tabs * {
    white-space: normal;
  }
  div.tabs ul.primary li a {
    margin: 0;
    padding: .15em .15em 0;
  }
  /* Indentation. */
  div#comments div.indented {
    margin-left: .25em;
  }
}

/* "Tablet" and above. */
@media screen and (min-width: 641px) {
  /* Rounded block corners. */
  div#content .item-list ul.pager,
  div.messages,
  div#content div.term-listing-heading,
  div#content .region > div.block {
    border-radius: 2px;
  }
}

/* "Small" scope. */
@media screen and (max-width: 640px) {
  /* Turn tabs into ordinary menu block */
  div.tabs {
    padding: 1em;
    margin: .5em 0;
  }
  div.tabs h2.element-invisible {
    clip: auto;
    height: auto;
    overflow: visible;
    position: static !important;
  }
  div.tabs ul.primary {
    margin: 0;
    padding-left: 1em;
    list-style-type: disc;
    list-style-position: outside;
  }
  div.tabs ul.primary li {
    display: list-item;
  }
  div.tabs ul.primary li a {
    margin: 0;
    padding: 0;
  }
  /**
   * Also no more background-colors.
   */
  div.tabs li a:link,
  div.tabs li a:focus,
  div.tabs li a:hover,
  div.tabs li a:active,
  div.tabs li a:visited {
    text-decoration: underline;
  }
  div.tabs li.active a:link,
  div.tabs li.active a:focus,
  div.tabs li.active a:hover,
  div.tabs li.active a:active,
  div.tabs li.active a:visited {
    font-weight: bold;
  }
  /* Remove all borders. */
  div.tabs ul.primary,
  div.tabs ul.primary li a {
    border-width: 0;
  }
  /* Reduce spaces, no wasting on small screens! */
  div#content .region > div.block:not(.bilderblock-has-teasers),
  div#content .item-list ul.pager {
    padding: .5em;
  }
  div#content .region > div.block:not(.bilderblock-has-teasers):not(:last-child),
  div.term-listing-heading .content > *:not(:last-child) {
    margin-bottom: .5em;
  }
  /* Indentation. */
  div#comments div.indented {
    margin-left: 3px;
  }
}

/* "Very small" scope, omitting really any useless spacing. */
@media screen and (max-width: 640px) {
  /* Indentation. */
  div#comments div.indented {
    margin-left: 0;
  }
}
