/**
 * @file
 * Bilderblock effects which will only work on no-touch desktop devices.
 */

/* ACTUAL EFFECTS */
/* Opacity */
html:not(.touchevents) body.bilderblock-fx-opacity.bilderblock-fx-hover-clear div.slide-container:not(:focus):not(:hover),
html:not(.touchevents) body.bilderblock-fx-opacity:not(.bilderblock-fx-hover-clear) div.slide-container {
  /* Fallback, @see dynamic.css */
  opacity: .8;
}
/* Eggish color inversion for unpublished node teaser slides. */
html:not(.touchevents) body.bilderblock-fx-tint.bilderblock-fx-hover-clear div.slide-container.node-unpublished:not(:focus):not(:hover) div.teaser-slide img,
html:not(.touchevents) body.bilderblock-fx-tint:not(.bilderblock-fx-hover-clear) div.slide-container.node-unpublished div.teaser-slide img {
  -moz-filter: invert(100%);
  -o-filter: invert(100%);
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
