/**
 * @file
 * Bilderblock effects; limited to no-touch desktop devices.
 */

/* GENERAL SETTINGS */
/* Overall filter animation settings. */
div.teaser-slide {
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
div.teaser-slide img {
  -moz-transition-property: filter;
  -o-transition-property: filter;
  -webkit-transition-property: filter;
  transition-property: filter;
}
div.teaser-slide,
div.teaser-slide img {
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

/* Overall filter animation speed. */
/* Fallback, @see dynamic.css */
div.slide-container,
div#content-wrapper,
div.teaser-sidestrip-inner,
div.teaser-slide,
div.teaser-slide img {
  -moz-transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}
div.teaser-sidestrip-inner {
  -moz-transition-property: bottom;
  -o-transition-property: bottom;
  -webkit-transition-property: bottom;
  transition-property: bottom;
}

/* Allow sidestrips to escape teaser slide boundaries. */
/* Expand teaser sidestrips on hover. */
html:not(.touchevents) div.slide-container:focus div.teaser-sidestrip:after,
html:not(.touchevents) div.slide-container:hover div.teaser-sidestrip:after {
  display: inline;
  white-space: no-wrap;
}
/* When hovering sidestrips, expand inner sections to full block display. */
html:not(.touchevents) div.slide-container:focus div.teaser-sidestrip-wrapper,
html:not(.touchevents) div.slide-container:hover div.teaser-sidestrip-wrapper {
  overflow: visible;
}
html:not(.touchevents) div.slide-container:focus div.teaser-sidestrip-inner,
html:not(.touchevents) div.slide-container:hover div.teaser-sidestrip-inner {
  position: absolute;
  z-index: 99;
  white-space: normal;
  overflow: visible;
  height: auto;
  left: 0;
  right: 0;
  width: auto;
  border-width: 2px;
  border-style: solid;
  margin: -2px;
}
/* Footer strips float up into the slide area. */
html:not(.touchevents) div.slide-container:focus div.teaser-footer div.teaser-sidestrip-inner,
html:not(.touchevents) div.slide-container:hover div.teaser-footer div.teaser-sidestrip-inner {
  bottom: 0;
}
/* Expand sidestrips always into slide, not outside. */
html:not(.touchevents) div.slide-container:focus div.teaser-footer div.teaser.sidestrip-inner:not(:empty),
html:not(.touchevents) div.slide-container:hover div.teaser-footer div.teaser.sidestrip-inner:not(:empty) {
  bottom: 1px;
}
/* Expanded header might overlap slide; add a little bottom space. */
html:not(.touchevents) div.slide-container:focus div.teaser-header div.teaser.sidestrip-inner,
html:not(.touchevents) div.slide-container:hover div.teaser-header div.teaser.sidestrip-inner {
  padding-bottom: 3px;
}
/* Expanded footer might overlap slide; add a little space above. */
html:not(.touchevents) div.slide-container:focus div.teaser-footer div.teaser.sidestrip-inner,
html:not(.touchevents) div.slide-container:hover div.teaser-footer div.teaser.sidestrip-inner {
  padding-top: 3px;
}
