html body.maintenance-page.in-maintenance > div#page > div#content-wrapper {
  margin-left: 0;
}
div#content > .region > div#menu-header {
  overflow: visible;
  border-width: 0px;
}
html body.maintenance-page.in-maintenance div#menu-logo,
html body.maintenance-page.in-maintenance div#menu-title div.name,
html body.maintenance-page.in-maintenance div#menu-title div.slogan {
  display: block;
}
