/**
 * @file
 * Menu-related styles for bilderblock Drupal theme.
 * In markup, the logo/title div and the actual menu sidebar are split by the
 * main content. This is to avoid scrolling through repeating meta content
 * on limited devices. This is also of relevance in search engine contexts.
 */

/* Uniform spacing and borders for all block-like elements in sidebar */
div#sidebar div.region-sidebar > div.block:not(:last-child),
div#sidebar div:not(:last-child).region-sidebar,
div#sidebar div#main-menu,
div#menu-header:not(.preview-empty) {
  padding-bottom: .75em;
  margin-bottom: .75em;
  /* @see colors.css */
  border-bottom: 1px dotted #999988;
}
/* Stronger borders for header and main menus */
div#sidebar div:not(:last-child).region-sidebar,
div#sidebar div#main-menu,
div#menu-header {
  /* @see colors.css */
  border-color: #555544;
}
div#sidebar > :last-child {
  border-bottom-style: none;
}

/* Logo container styles. */
div#menu-logo {
  display: inline-block;
  float: left;
  margin: 0 .5em .5em 0;
  -moz-transition-property: width, height,opacity;
  -o-transition-property: width, height,opacity;
  -webkit-transition-property: width, height,opacity;
  transition-property: width, height, opacity;
}
body.bilderblock-logo div#menu-logo > a:before {
  display: inline-block;
  /* Fallback; @see dynamic.css */
  content: url(../logo.png);
}
/* Avoid text breaking out of the menu bar. */
div#menu-title {
  overflow: hidden;
}
/* Format site title as a super-header. */
div#menu-title div.name {
  margin-bottom: .25em;
  font-weight: bold;
  font-size: 150%;
}
/* Slogan size. */
div#menu-title div.slogan {
  font-size: 125%;
}

/* Inner menu */
/* Intermediate wrapper allows for padding to subordinate to parent overflow. */
div#sidebar {
  padding: 1em;
}

/* Conditionally suppress certain elements in the menu header. */
body:not(.bilderblock-logo) div#menu-logo,
body:not(.bilderblock-name) div#menu-title div.name,
body:not(.bilderblock-slogan) div#menu-title div.slogan {
  display: none;
}

/* Default: Landscape with (left) sidebar. */
div#menu {
  width: 100%;
}
/* Partial menu sidebar on landscape/tablet and above. */
@media screen and (orientation: landscape) and (min-width: 641px) {
  /* Sidebar container abstracts menu part from outer parts. */
  div#sidebar-container,
  div#menu {
    position: fixed;
    z-index: 498;
    /* Fallback, @see dynamic.css */
    width: 30%;
  }
  /* Hide completely when closed. */
  html.js body.bilderblock-menu-closed div#menu,
  html.js body.bilderblock-menu-closed div#sidebar-container {
    width: 0;
  }
  /* Hide all content in the sidebar. */
  html.js body.bilderblock-menu-closed div#menu-inner {
    opacity: 0;
  }
  /* Default menu state with permanently closed menu, not hovered. */
  html.js body.bilderblock-menu-closed div#sidebar-container {
    width: 0;
    overflow: hidden;
  }
}
/* Partial menu sidebar on landscape/tablet and above. */
@media screen and (orientation: landscape) {
  div#sidebar {
    padding: 1em 1em 1em 35px;
  }
  div#menu {
    top: 0;
    bottom: 0;
  }
  /* Sidebar container abstracts menu part from outer parts. */
  div#sidebar-container {
    top: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }
  /* The closed menu sidebar and its components. */
  div#menu,
  div#menu * {
    /* Menu needs a sensible animation property; width relates best
       to content margins. */
    -moz-transition-property: width, box-shadow;
    -o-transition-property: width, box-shadow;
    -webkit-transition-property: width, box-shadow;
    transition-property: width, box-shadow;
    /* Independently faster menu anmiations (is a functional element) */
    -moz-transition-duration: 100ms;
    -webkit-transition-duration: 100ms;
    -o-transition-duration: 100ms;
    transition-duration: 100ms;
  }
  /* Transition effects for dynamic sidebar. */
  div#sidebar {
    -moz-transition-property: width;
    -o-transition-property: width;
    -webkit-transition-property: width;
    transition-property: width;
  }
  body.admin-menu div#menu,
  body.admin-menu div#menu div#sidebar-container {
    top: 29px;
  }
}
/* Portrait: Menu block at the top. */
@media screen and (orientation: portrait) {
  div#menu {
    bottom: auto;
    width: auto;
    position: static;
  }
}

/* JS-overlay with fallback to a jump-mark menu */
@media
  screen and (orientation: landscape) and (max-width: 640px),
  screen and (orientation: portrait)
{
  body.admin-menu div.jump-spacer {
    top: -64px; /* Relates to div#navbar height admin menu height. */
  }
  div.jump-target {
    position: absolute;
    top: 0em; /* Let the black space above remind of using the fallback. */
    height: 0em;
  }
  body.bilderblock-menu-overlay div#menu {
    position: absolute;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
  }
  /* Hide content layer while being in JS menu. */
  body.bilderblock-menu-overlay div#content-wrapper {
    display: none;
  }
  /* Set parent for "jump-spacer" */
  div#menu {
    position: relative;
  }
  /* Hide inactive menu when JS is active. */
  body.bilderblock-menu-has-overlay:not(.bilderblock-menu-overlay) div#menu {
    display: none;
  }
}
@media screen and (orientation: portrait) {
  body.bilderblock-menu-overlay div#menu {
    top: 35px;
    position: absolute;
    z-index: 498;
  }
  body.bilderblock-menu-overlay.admin-menu div#menu {
    top: 64px;
  }
  div.jump-spacer {
    position: absolute;
    top: -35px; /* Relates to div#navbar height */
    z-index: -1; /* hide, although empty. */
    height: 1em;
    visibility: hidden;
  }
  div.jump-target {
    height: 1em;
  }
}

/* Style overrides for "Tablet" scope (portrait). */
@media screen and (orientation: portrait) and (min-width: 641px) /*and (max-width: 960px)*/ {
  /* Put menu in same block style as standard content blocks. */
  body:not(.bilderblock-menu-overlay) div#menu {
    margin: 0 1em 1em;
    border-radius: 2px;
  }
}

/* "Small" scope. */
@media screen and (max-width: 640px) {
  body:not(.bilderblock-menu-overlay) div#menu {
    /* Reduced standard spacing. */
    margin-top: .5em;
  }
}
