/**
 * @file
 * Styles for additional menu hover effects.
 * Will only work in non-touch environments.
 *
 * @see theme_settings('menu_hover')
 */

/* HOVER EFFECTS */
/* Menu switches, default state. */
html.js:not(.touchevents) body.bilderblock-menu-hover div#nav-wrapper:not(:focus):not(:hover) div.navbar-section {
  opacity: 0.5;
}

/* Open menu to configured width. */
html.js:not(.touchevents) body.bilderblock-menu-closed.bilderblock-menu-hover div#nav-wrapper:focus > div#menu,
html.js:not(.touchevents) body.bilderblock-menu-closed.bilderblock-menu-hover div#nav-wrapper:hover > div#menu,
/* Restore inner menu content. */
html.js:not(.touchevents) body.bilderblock-menu-closed.bilderblock-menu-hover div#nav-wrapper:focus > div#menu div#sidebar-container,
html.js:not(.touchevents) body.bilderblock-menu-closed.bilderblock-menu-hover div#nav-wrapper:hover > div#menu div#sidebar-container {
  z-index: 498;
  /* Fallback, @see dynamic.css */
  width: 30%;
}
/* Hovered menu covers content, add a drop shadow. */
html.js:not(.touchevents) body.bilderblock-menu-closed.bilderblock-menu-hover div#nav-wrapper:focus > div#menu,
html.js:not(.touchevents) body.bilderblock-menu-closed.bilderblock-menu-hover div#nav-wrapper:hover > div#menu {
  z-index: 498;
  box-shadow: 8px 0px 4px rgba(0, 0, 0, .67);
}
/* Show all content in the sidebar again. */
html.js:not(.touchevents) body.bilderblock-menu-closed.bilderblock-menu-hover div#nav-wrapper:hover > div#menu div#menu-inner,
html.js:not(.touchevents) body.bilderblock-menu-closed.bilderblock-menu-hover div#nav-wrapper:focus > div#menu div#menu-inner {
  opacity: 1;
}
/* Restore inner menu content. */
@media screen and (orientation: landscape) and (min-width: 641px) {
  html.js:not(.touchevents) body.bilderblock-menu-closed.bilderblock-menu-hover div#nav-wrapper:hover > div#menu div#sidebar-container,
  html.js:not(.touchevents) body.bilderblock-menu-closed.bilderblock-menu-hover div#nav-wrapper:focus > div#menu div#sidebar-container {
    overflow-y: auto;
  }
}
