/**
 * @file
 * Styles for the persistent navigation bar.
 */

/* Set menu header to fixed position ("sticky"). */
div#navbar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  z-index: 499;
  /* Default/fallback orientation: Landscape, left side. */
  bottom: 0;
  width: 35px;
}

/* Portrait display: Sticky top bar. */
@media (orientation: portrait) {
  div#navbar {
    bottom: auto;
    width: auto;
    right: 0;
    height: 35px;
  }
}
body.admin-menu div#navbar {
  top: 29px;
}
div#navbar-logo {
  display: inline-block !important; /* Always!! Visible in this viewport width. */
  /* Remove all spaces to not exceed size. */
  padding: 0;
  border-width: 0;
  margin: 0;
}
div#navbar-logo a {
  display: block;
  width: 35px;
  height: 35px;
  text-align: center;
}
/* Home icon. */
body:not(.bilderblock-fontawesome):not(.bilderblock-logo) div#navbar-logo > a.fa-home:before,
body.bilderblock-logo:not(.bilderblock-fontawesome):not(.bilderblock-menu-overlay) div#navbar-logo > a.fa-home:before {
  /* Fallback: @see dynamic.css */
  content: url(../images/home_icon.png);
}
/* Hide the home icon whenever a standard (big) logo is right next to it. */
@media screen and (orientation: landscape) and (min-width: 641px) {
  html:not(.touchevents) body.bilderblock-logo.bilderblock-menu-hover div#nav-wrapper:focus div#navbar-logo > a:before,
  html:not(.touchevents) body.bilderblock-logo.bilderblock-menu-hover div#nav-wrapper:hover div#navbar-logo > a:before,
  html:not(.touchevents) body.bilderblock-menu-closed.bilderblock-logo.bilderblock-menu-hover div#nav-wrapper:focus div#navbar-logo > a:before,
  html:not(.touchevents) body.bilderblock-menu-closed.bilderblock-logo.bilderblock-menu-hover div#nav-wrapper:hover div#navbar-logo > a:before,
  body.bilderblock-logo:not(.bilderblock-menu-closed) div#nav-wrapper div#navbar-logo > a:before,
  html:not(.js) body.bilderblock-logo div#nav-wrapper div#navbar-logo > a:before {
    content: '';
  }
}
@media
  screen and (orientation: landscape) and (max-width: 640px),
  screen and (orientation: portrait)
{
  body.bilderblock-logo.bilderblock-menu-overlay div#navbar-logo > a:before {
    content: '';
  }
}

div#navbar-logo {
  float: left;
}
/* Activate small-screen menu toggle switch. */
/* Menu toggle switch. */
div#navbar > .navbar-section {
  position: absolute;
  padding: 0;
  display: block;
  width: 35px;
  line-height: 35px;
  margin: 0;
  font-size: 25px;
}
body:not(.bilderblock-fontawesome) div#navbar > .navbar-section {
  font-size: 35px;
}
div#navbar-switches {
  bottom: 0;
}
body.bilderblock-fontawesome a.bb-navbar {
  margin-top: 4px;
}
body.bilderblock-fontawesome div#navbar-switches div.navbar-switch:last-child {
  margin-bottom: 4px;
}
/* Portrait position for toggle switch: Top right. */
@media (orientation: portrait) {
  div#navbar > .navbar-section {
    bottom: auto;
    top: 0;
    width: auto;
  }
  div#navbar > div#navbar-switches {
    right: 0;
    margin-right: 9px;
  }
  div#navbar > div#navbar-logo {
    left: 0;
    margin-left: 9px;
  }
  div#navbar-switches > div.navbar-switch {
    float: left;
  }
}
div#navbar a.bb-navbar {
  width: 35px;
  height: 26px;
  text-decoration: none;
  display: block;
  text-align: center;
}
body:not(.bilderblock-fontawesome) div#navbar a.bb-navbar {
  height: 35px;
}
body:not(.bilderblock-fontawesome) div#navbar-toggle a.fa-navicon:before {
  content: '\2261';
}
body:not(.bilderblock-fontawesome) div#navbar-jump-content a.fa-arrow-circle-up:before {
  content: '\21e7';
}
/* "Pushed" effect for pushed JS menu button */
/* Different menu behaviors whith additional JS helper class. */
@media
  screen and (max-width: 640px) and (orientation: landscape),
  screen and (orientation: portrait)
{
  /* Manual class override, we cannot toggle fa classes on CSS level. */
  body.bilderblock-menu-overlay div#navbar-toggle a:before {
    content: '\f00d';
  }
  body:not(.bilderblock-fontawesome).bilderblock-menu-overlay div#navbar-toggle a:before {
    content: '\00d7';
  }
}
@media screen and (min-width: 641px) and (orientation: landscape) {
  /* Manual class override, we cannot toggle fa classes on CSS level. */
  html.js body:not(.bilderblock-menu-closed) div#navbar-toggle a:before {
    content: '\f00d';
  }
  html.js body:not(.bilderblock-fontawesome):not(.bilderblock-menu-closed) div#navbar-toggle a:before {
    content: '\00d7';
  }
  html:not(.js) div#navbar-toggle {
    display: none;
  }
}
