/**
 * @file
 * Additional print styles for bilderblock theme.
 */

div#content > .bb-print.element-invisible {
  position: static !important;
  clip: none;
  height: auto;
  overflow: visible;
}

svg,
div-tabs,
div#messages,
div#action-links-wrapper,
div#content .item-list ul.pager,
div#content ul.links,
div#nav-wrapper {
  display: none;
}

div#content img {
  border: 1px dotted #999;
  max-width: 100%;
  height: auto;
}

.bilderblock-image-container,
div.exposed-outer {
  margin-bottom: .5em;
}

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
}

#site-name a,
#site-name a:link,
#site-name a:visited {
  text-decoration: none;
  color: inherit;
}

hr#header-separator {
  margin: 1em 0 2em;
}

div.slide-container {
  margin-bottom: 1em;
  max-width: 100%;
  /* This should normally be unnecessary, however, IE. */
  display: block !important;
  position: static !important;
  float: none !important;
}
