/**
 * @file
 * Main stylesheet for bilderblock theme. This file contains basic styles,
 * and is accompanied by additional/conditional stylesheets for customization,
 * colorization etc.
 *
 * @see ie*.css
 * @see color.css
 * @see ../includes/dynamic_styles.inc
 */

/* ==================== Reset styles ==================== */

/* Based on Eric Meyer's reset stylesheet. */
/* @see http://meyerweb.com/eric/tools/css/reset/index.html */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
:focus {/* remember to define focus styles! */
  outline: 0;
}
body {
  background: #fff;
  line-height: 1;
}
/* General list styles. */
ol, ul {
  list-style: inherit outside;
  padding-left: 1em;
  margin: .5em 0;
}
/* No margins for nested lists. */
ol ul,
ul ol,
ol ol,
ul ul {
  margin: 0;
}
table {/* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  font-weight: normal;
  text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}
a img {
  border: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* ==================== END RESET STYLES ==================== */

/* === COMMON === */

/* Set global fonts and basic dimensions. */
html, body {
  padding: 0;
  margin: 0 !important;
}
/* Move content downwards */
body.admin-menu div#content-wrapper {
  margin-top: 29px;
}
/* Portrait style: navbar at top */
@media (orientation: portrait) {
  div#content-wrapper {
    margin-top: 35px;
  }
  body.admin-menu div#content-wrapper {
    margin-top: 64px;
  }
}
.bilderblock-font-global {
  font-family: "Courier New", Courier, monospace, fixed;
}
.bilderblock-font-slide {
  font-family: Arial, Sans-Serif;
}
/* Global header text format. */
h1 {
  font-weight: bold;
  font-size: 135%;
}
h2 {
  font-size: 120%;
  font-weight: bold;
}
h3 {
  font-size: 110%;
  font-weight: bold;
  font-style: italic;
}
/* Conditional pre-header spacing. */
h1:not.title:not(:first-child),
h2:not(:first-child) {
  margin-top: .5em;
}
h3:not(:first-child) {
  margin-top: .25em;
}
/* Classes for no-css display. */
label {
  font-weight: bold;
  margin-bottom: .2em;
}
/* More decent borders for input elements and buttons. */
select,
input[type=text],
input[type=password],
input[type=submit],
textarea {
  border-width: 1px;
  border-style:dotted;
  max-width: 100%;
}
/* Keep unfocused text inputs and selects even more decent. */
select,
input[type=text],
input[type=password],
textarea {
  opacity: .67;
}
/* Emphasize active form elements. */
select:focus,
input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
  opacity: 1;
  border-style: solid;
}
/* Element spacing */
select:not(:last-child),
input:not(:last-child),
textarea:not(:last-child) {
  margin-right: .75em;
}
fieldset {
  margin: .5em 0;
  padding: .75em;
  border: 1px dotted ;
}

/* === END COMMON === */

/* === CONTENT === */

/* Page title */
div#action-links-wrapper,
div#title-wrapper {
  max-width: 100%;
  width: auto;
}
div#title-wrapper h1 {
  margin-bottom: 0;
}

/* INNER CONTAINER */
div#content > div:not(.element-invisible):not(.tabs):not(.bilderblock-has-teasers):not(#teaser-slides):not(:last-child) {
  margin-bottom: 1em;
}

/* Film strips */
/* Slides in general */
/* Basic slide spacing and dimensions. */

@media not print {
  /* Minimize the containing div so all unwanted borders disappear. */
  div.teaser-slide img {
    float: left;
    max-width: 100%;
    height: auto;
  }
  /* Wrapper handles overflow in collapsed (default) display and hover flyout. */
  div.teaser-sidestrip-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  /* Actual image section: Positioning and formatting. */
  div.slide-container,
  div.teaser-slide {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    overflow: hidden;
  }
  div.slide-container {
    /* Add equal spacing to all containing elements. */
    overflow: hidden;
    float: left;
    margin: 0 0 1em;
    max-width: 100%;
    height: auto;
    padding: 2px;
  }
  div.tabs + .region > div.block.bilderblock-has-teasers {
    margin-top: 1em;
  }
  div.teaser-sidestrip,
  div.teaser-sidestrip * {
    font-size: 11pt;
  }

  /* Dedicated font overrides for film strips. */
  /* @see colors.css */
  div.teaser-sidestrip h2,
  div.slide-container,
  div.slide-container a {
    text-decoration: none;
    font-weight: normal;
  }
  /* Minimal padding on Side strips; fallback display defaults. */
  div.teaser-sidestrip {
    position: relative; /* Holds the actual sidestrip wrapper. */
    margin: 2px;
  }
  div.teaser-sidestrip-inner {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  /* Colon after each teaser label. */
  /* @todo review */
  div.teaser-sidestrip-inner div.teaser-label label:after {
    content: ":\0020";
  }
  /* Force no block elements in side strips! */
  div.teaser-sidestrip-inner,
  div.teaser-sidestrip-inner * {
    display: inline;
  }
  /* NBSP in side strips avoids collapsing strips. */
  div.teaser-sidestrip:after {
    content: "\00a0";
  }
  /* Separate side strip groups without breaking underlying markup. */
  div.teaser-sidestrip-inner > div:not(:last-child):after,
  div.teaser-sidestrip-inner > .teaser-label:not(:last-child):after {
    content: "\0020/\0020";
    display: inline;
    visibility: visible;
  }
  /* Re-format Drupal term reference styles without breaking underlying markup. */
  .slide-container div.teaser-sidestrip-inner .field-type-taxonomy-term-reference .field-item:not(:last-child):after {
    content: ",\0020";
  }
}

.node > #single-post-infos-inner:not(:first-child) {
  margin-bottom: 1em;
}
.node > #single-post-infos-inner:not(:last-child) {
  margin-top: 1em;
}
#single-post-infos-inner > *:not(:first-child) {
  margin-top: 1em;
}
#single-post-infos-inner > *:not(:last-child) {
  margin-bottom: 1em;
}

/* Slightly smaller font for meta sections. */
div.meta,
div#post-informational {
  font-size: 80%;
}
/* Add fancy border to exposed image.
   Using a combined padding-margin-padding + hidden checkbox/label hack to
   - make sure the image with its border matches the standard blocks width.
   - the image fits with standard blocks by default, and expands to
     full size on click.
   - provide image zoom functionality without any JS involved.
   @see colors.css */
div.exposed-image {
  overflow: hidden;
  max-width: 100%;
  display: inline-block;
}
/* Only show a lens cursor if zooming is actually available. */
html:not(.js) div.imgzoom div.exposed-image,
html.js body:not(.bilderblock-zoom-fallback) div.imgzoom img {
  cursor: zoom-in;
}
/* Generic imgzoom image behavior */
div.exposed-image,
div.exposed-image img,
div.imgzoom img {
  max-width: 100%;
  height: auto;
}
div.imgzoom div.exposed-wrapper {
  display: inline-block;
  max-width: 100%;
}
/* Hide zoom checkbox */
div.imgzoom input {
  display: none;
}
/* Avoid functional label area taking any unnecessary space. */
div.imgzoom label {
  line-height: 0;
}

/* Conditional zoom-related rules. */
/* Generic (e.g. file entities) */
html.js body:not(.bilderblock-zoom-fallback) div.imgzoom input:checked + label img,
html:not(.js) div.imgzoom input:checked + label img {
  max-width: none;
  cursor: zoom-out;
}
/* Specific (rendered internally, e.g. nodes) */
html.js body:not(.bilderblock-zoom-fallback) div.imgzoom input:checked + label > div.exposed-image,
html.js body:not(.bilderblock-zoom-fallback) div.imgzoom input:checked + label > div.exposed-image img,
html:not(.js) div.imgzoom input:checked + label > div.exposed-image,
html:not(.js) div.imgzoom input:checked + label > div.exposed-image img {
  max-width: none;
  cursor: zoom-out;
}
/* Show zoomed exposed image in full size, and keep a border at the right. */
div.imgzoom input:checked + label > *:not(.exposed-image) img,
div.imgzoom input:checked + label > img,
div.imgzoom input:checked + label > div.exposed-image {
  margin-right: 1em;
}

/* Optional exposed image pseudo-border. */

/* Make sure the image does neither overflow nor has a 100%-wide "border" */
/* bilderblock-image-container elements need this wrapper to work properly  */
body.bilderblock-post-image-border .bilderblock-image-outer {
  display: inline-block;
  max-width: 100%;
}
@media not print {
  body.bilderblock-post-image-border .bilderblock-image-container,
  body.bilderblock-post-image-border div.exposed-outer {
    padding: 1em;
    margin-bottom: .5em;
  }
  /* @todo review; "> *" may fail if the image is a direct child */
  body.bilderblock-post-image-border .bilderblock-image-container > *,
  body.bilderblock-post-image-border div.exposed-image {
    padding: 1em;
    margin: -1em;
  }
}

/* Clearfix add-on for sections with slide stripes. */
body.page-taxonomy-term div#content div#block-system-main > div.content:after,
div#content div.block.bilderblock-has-teasers > div.content:after {
  content: '.';
  visibility: hidden;
  display: block;
  height: 0px;
  clear: both;
}
/* Limit exposed image width. */
div#single-post-infos-inner img {
  max-width: 100%;
  height: auto;
}
/* Lists in content section are more spacy. */
div#content ul:not(.links):not(.tabs):not(.pager),
div#content ol {
  margin-top: 1em;
  margin-left: 1em;
  padding-left: 1em;
}
/* Exception: Nested lists (no top space). */
div#content li > ul:not(.links):not(.tabs):not(.pager),
div#content li > ol {
  margin-top: 0;
}
/* Pre-spacing for all blocks ecxept the first. */
div#content .block p:not(:last-child) {
  margin-bottom: .75em;
}
/* === END CONTENT === */

svg {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

div#content-wrapper {
  max-width: 100%;
  margin-left: 0;
}
@media screen and (orientation: landscape) {
  div#content-wrapper {
    margin-left: 35px;
  }
}
@media screen and (min-width: 641px) and (orientation: landscape) {
  html:not(.js) body > div#page > div#content-wrapper,
  html.js body:not(.bilderblock-menu-closed) > div#page > div#content-wrapper {
    /* Fallback for dynamic styles. */
    margin-left: 30%;
  }
}

/* "Tablet" and above. */
@media screen and (min-width: 641px) {
  div#content-wrapper {
    -moz-transition-property: margin-left;
    -o-transition-property: margin-left;
    -webkit-transition-property: margin-left;
    transition-property: margin-left;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -moz-transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
  }

  /* Outer content container, provides a nice tidy background/border. */
  body > div#page > div#content-wrapper {
    padding: 1em;
  }
  /* Page title */
  div#action-links-wrapper,
  div#title-wrapper {
    display: inline-block;
    padding: 1em;
  }
  /* Rounded corners. */
  div#action-links-wrapper,
  div#title-wrapper,
  body.bilderblock-post-image-border .bilderblock-image-container,
  body.bilderblock-post-image-border div.exposed-image,
  /* Rounded corners for exposed image if no pseudo-border is set. */
  body:not(.bilderblock-post-image-border) .bilderblock-image-container img,
  body:not(.bilderblock-post-image-border) div.exposed-image img {
    border-radius: 2px;
  }
}

/* Tablet and below */
@media (max-width: 960px) {
  /* Override teaser-slide inline size. */
  div.teaser-slide {
    max-width: 100%;
    height: auto;
  }
  /* Force slides to always fill the entire width. */
  div.slide-container {
    width: 100%;
    float: none;
    padding: 0;
  }
  div.slide-container img {
    width: auto;
    width: 100%;
  }
  /* Remove spacings between slides */
  div.slide-container {
    margin-bottom: 0;
  }
}

/* Fluid floating on smaller screens. */
@media (min-width: 641px) and (max-width: 960px) {
  div#teaser-slides div.slide-container,
  div.bilderblock-has-teasers div.slide-container {
    width: 33.333%;
    min-width: 0;
    float: left;
    padding: 0;
    height: auto;
  }
  div#teaser-slides div.teaser-slide,
  div.bilderblock-has-teasers div.teaser-slide {
    margin: 0 2px;
  }
}
@media (min-width: 321px) and (max-width: 640px) {
  div#teaser-slides div.slide-container,
  div.bilderblock-has-teasers div.slide-container {
    width: 50%;
    min-width: 0;
    float: left;
    padding: 0;
    height: auto;
  }
  div#teaser-slides div.teaser-slide,
  div.bilderblock-has-teasers div.teaser-slide {
    margin: 0 2px;
  }
}

/* Side spacing for columned slides. */
@media (min-width: 321px) {
  div.slide-container {
    padding: 0 2px;
  }
}

/* "Small" scope. */
@media screen and (max-width: 640px) {
  /* Let teaser slides collapse, with only very little horizontal spacing. */
  div.slide-container {
    margin: 1px 0;
  }
  /* Add space to other content, to emphasize slides. */
  div.block.bilderblock-has-teasers {
    margin-bottom: 1em;
  }
  /* Reduce spaces, no wasting on small screens! */
  div#action-links-wrapper,
  div#title-wrapper {
    padding: .5em;
  }
  div#content > div:not(.element-invisible):not(.tabs):not(.bilderblock-has-teasers):not(#teaser-slides):not(:last-child):not(.exposed-outer):not() {
    margin-bottom: 0;
  }
  div.imgzoom input:checked + label > *:not(.exposed-image) img,
  div.imgzoom input:checked + label > img {
    margin-right: .5em;
  }
  div.imgzoom input:checked + label > div.exposed-image {
    margin-right: 0;
  }
  /* Adapt image pseudo borders for "small". */
  body.bilderblock-post-image-border div.exposed-outer,
  body.bilderblock-post-image-border .bilderblock-image-container {
    padding: .5em;
  }
  div#content > div:not(.element-invisible):not(.tabs):not(.bilderblock-has-teasers):not(#teaser-slides):not(:last-child) {
    margin-bottom: .5em;
  }
  body.bilderblock-post-image-border .bilderblock-image-container > *,
  body.bilderblock-post-image-border div.exposed-image {
    padding: .5em;
    margin: -.5em;
  }
  /* Force slide container to shrink with page in smallest screens. */
  div.slide-container {
    max-width: 100%;
  }
}

/* Service: Helper classes for your convenience, e.g. with field_groups
   or views row styles. */
.nomargin {
  margin: 0 !important;
}
.nopadding {
  padding: 0 !important;
}
.noborders {
  border: 0 none none !important;
}
.display-inline {
  display: inline !important;
}
.display-inline-block {
  display: inline-block !important;
}
.display-block {
  display: block !important;
}
img.autofit,
.img-autofit img {
  max-width: 100%;
  height: auto;
}
