/**
 * @file
 * Dedicated preview styles for bilderblock Drupal theme.
 */

/* === PREVIEW SPECIFIC === */
/* Do not set preview styles unless the iframe is actually displayed. */
div#preview.active {
  position: relative;
  height: 540px;
  border-radius: 8px;
  width: 100%;
  margin: 1em 0;
}
div#preview.active iframe {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
