<!-- @file -->
<!-- Color module preview wrapper for bilderblock Drupal theme -->

<div id="preview">
	<div class="placeholder">
		For consistency reasons, the preview requires an iframe capable browser.
	</div>
</div><!--/#preview-->
